body{
    overflow-x: hidden;
    background-color:whitesmoke;
  }
  table,th,td,tr{
    border:1px solid black;
    font-family: "Times New Roman", Times, serif;
  }
  th,td{
    padding: 15px;
    text-align: left;
    border:none;
  }
  tr:hover{
    background-color:#bdc7c9;
  }
  th{
    background-color:#000026;
    color: white;
  }
  table{
    width: 100%;
    position:relative;
  }
  tr:hover{
    color:blue;
  }
  h2{
    text-align:center;
    margin-top:20px;
    margin-bottom:20px;
  }
  .button{
    position: relative;
    margin-top:10px;
    width:100%;   
    background-color:#000026;
    height:50px;
    font-weight:bolder;
    color:white;
  }
  .button:hover{
    background-color:#bdc7c9;
    color:black;
    border:1px solid black;
    
  }
  .formE{
    margin-top:15px;
    height:55px;
  }
  .names{
    font-size:25px;
  }
  .navbar-light .navbar-brand{
    font-size: 30px;
    font-family:fantasy;
}
.nav-item{
    padding-left: 50px;
}
.navcolor{
    background-color:#000026;
}
.navbar-light .navbar-nav .nav-link{
    color:white;
}
.logo{
margin:0;
padding:0;
height:50px;
border-radius:3px;
}
